body{
    margin: 0px;
    padding: 0px;
    background: lightgrey;
    zoom: 80%;
    font-weight: lighter !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
}
.firstcontainer{
    height: 90vh;
    background: url('../imgs/Space-Art.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.firstcontainer-cover{
    height: 90vh;
    background: #00bcd4b3;
    z-index: 99;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.firstcontainer-content{
    height: 80vh;
    z-index: 99999;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
.firstcontainer-content h1{
    color: #fff;
    font-size: 4em;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    text-align: center;
    margin-bottom: 0px;
}
.firstcontainer-phone{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,0%);
}
.firstcontainer-content p{
    color: #fff;
    font-size: 1.5em;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    text-align: center;
}
/* Building our phone! */
.phone{
    box-shadow: 10px 10px 30px #00000055 !important;
    height: 90vh;
    width: 100%;
    border-radius: 25px;
    background: #f3f2f2;
}
.phone-speakers{
    padding-top: 10px;
    margin: 0 auto;
    float: none;
    width: 100px;
}
.phone-speakers .circle{
    margin: 0 auto;
    float: none;
   background: #808080d4;
   width: 10px;
   height: 10px;
   border-radius: 10px;
   margin-bottom: 5px;
}
.phone-speakers .rectangle{
    margin: 0 auto;
    float: none;
   background: #808080d4;
   width: 50px;
   height: 10px;
   border-radius: 10px;
}
.phone .screen{
    margin-top: 1em !important;
    margin: 0 auto;
    height: 70vh;
    float: none;
    width: 97% !important;
}
.phone .screen img{
    margin: 0 auto;
    height: 70vh;
    float: none;
    width: 100% !important;
}
.phone .screen iframe{
    margin: 0 auto;
    height: 70vh;
    float: none;
    width: 100% !important;
}
.button{
    float: none;
    width: 50px; 
    height: 50px;
    border-radius: 50px;
    background: #fff;
    margin: 0 auto;
    background: linear-gradient(40deg,white, #f7f7f7fa, lightgray);
    margin-top: 1em;
    position: relative;
}
.button .button-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 15px; 
    height: 15px;
    margin: 0 auto;
    border: 2px solid #999;
}
.secondcontainer{
    margin-top:18em;
}
.secondcontainer h1{
    font-weight: lighter !important;
    font-size: 3em;
    color: #00000091;
    /* text-shadow: 0 */
}
.secondcontainer p{
    font-weight: lighter !important;
    font-size: 1.2em;
    color: #00000091;
    /* text-shadow: 0 */
}
.thirdcontainer{
    margin-top: 10em;
    /* background-color: #00bcd4b3; */
    /* height: 25em; */
    position: relative;
}
.thirdcontainer .container{
    padding-top: 8em;
    margin: 0 auto;
    float: none;
    text-align: center;
}
.thirdcontainer h1{
    font-weight: bold;

}
.form{
    width: 50%;
    margin: 0 auto !important;
    float: none !important;
}
.form input{
    padding: 20px;
}
.form input[type='submit']{
    background-color: white;
    border-style: none;
    color: #00bcd4b3;
}
